.background {
  height: 60px;
  background-color: #00F135;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  h2, h3, p, label {
    color: red;
  }
}

.order_summary_container {
  padding-top: 60px;
}

.li_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem 0;

  div {
    justify-self: start;
  }
}

.total {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.checkoutForm {
  margin-top: 20px;

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
  }

  .total {
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.placeOrderButton,
.backToShop {
  padding: 10px 15px;
  border: none;
  background-color: red;
  color: #00F135;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 10px;
  width: 100%;
}

.placeOrderButton:hover,
.backToShop:hover {
  background-color: rgb(221, 0, 0);
}

.confirmationMessage {
  margin-top: 15px;
  color: green;
  font-weight: bold;
}
