

.main_container {
    display: flex;

    height:100dvh;
    flex-direction: column;
}

.splash {
    position: relative;
    overflow: hidden;
    object-fit:cover;
    flex:1;

    padding-right: 50%;
    z-index: 20;
    h1 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: yellow;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        width: 100%;
        
    }
}
.video {
  width: 200%;
  height: 100%;

  object-fit: cover; 
}

.input_text {
  color: yellow;
  outline: 0;
  background: none;
}


.contactFormContainer {
  
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: blue;
    label {
        color: yellow;
      }

  }
  
  .contactForm {
    display: flex;
    flex-direction: column;
  }


  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .formGroup input,
  .formGroup textarea {
    width: 100%;
    padding: 8px;
    border-bottom: 2px solid yellow;
    border-top: none;
    border-left: none;
    border-right: none;
    
    background-color: blue;
  }
  
  .formGroup textarea {
    height: 100px;
    resize: vertical;
  }
  
  .submitButton {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: end;
  border:none;
  background-color: blue;

  text-decoration: none;
 
  cursor:pointer;
  .submit_content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    padding: 2px 8px;
    
    .first {
      color: yellow;
            font-weight: 600;

          padding: 4px;
          border-radius:2px;
    }
    .arrow {
      height: 20px;
      fill: yellow;
    }

  }
  .submit_overlay {
            background-color: yellow;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            padding: 2px 8px;
            
            right: 0;
            top: 0;
            border-radius:2px;
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
            transition: clip-path 0.15s ease-in-out;
            .second {
              color: blue;
              font-weight: 600;
              padding: 4px;
            }
            .arrow_overlay {
              height: 20px;
              fill: blue;
            }

  }

}
.submitButton:hover .submit_overlay{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
    
  .confirmationMessage {
    margin-top: 15px;
    color: green;
    font-weight: bold;
  }
  
  @media (min-width:768px) {
    .contactFormContainer {
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .video {
      width: 200%; /* Adjust as needed */
      height: 100%; /* Adjust as needed */
      object-fit: fill;
      overflow: hidden;
      position: absolute; /* Adjust as needed */
    }
    

    .contactForm {
      width: 100%;
      max-width: 600px;
    }
    .main_container {
      flex-direction: row;
    }
  }