.container {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #00F135;
    position: fixed;
    top: 60px;
    bottom: 0;
    z-index: 800;
    transform: translate(100%, 0px);

    h3 {
        color: red;
        text-align: end;
        margin: 1rem;
    }
    



}

.filtercontainer{

    background-color: #00F135;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    padding-bottom: 6rem;
    .buttons {
        width: 100vw;
    
        display: flex;
        
        justify-content: center;
        gap: 0.5rem;
        height: 2.5rem;
        bottom: 4.25rem;
        padding: 0 0.5rem;
    position: absolute;
        .clear {
            flex: 1;
            flex: 1;
            padding: 5px 15px;
            border: none;
            background-color: #00F135;
            border: 2px solid red;
            color: red;
            cursor: pointer;
            border-radius: 4px;
        }
        .apply {
            flex: 1;
            padding: 5px 15px;
            border: none;
            background-color: red;
            color: #00F135;
            cursor: pointer;
            border-radius: 4px;
    }
    }


    .filter_panel {
        position: absolute;
        top: 0;
        right: 0;
        width: 300px; /* Adjust as needed */
        height: 100vh; /* Full height of the viewport */
        overflow-y: auto;
        transform: translateX(0%);
        z-index: 1000;
    }
}

.options_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    margin: 2rem 1rem 1rem 1rem;
    height: 100dvh;



    .MyCollapsible {
        margin: 10px 0;
      }
      
      .MyCollapsible__trigger {
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        background-color: #f0f0f0;
      }
      
      .MyCollapsible__trigger.is-open {
        color: green;
      }
      
      .MyCollapsible__trigger.is-closed {
        color: red;
      }
      
      .MyCollapsible__contentOuter {
        overflow: hidden;
        transition: max-height 300ms ease-in-out;
      }
      
      .MyCollapsible__contentInner {
        padding: 10px;
        background-color: #fff;
      }



 h2 {
    margin-bottom: 1rem;
     /* Space below the headings */
}



label {
    display: block;
    margin-bottom: 0.5rem; /* Space between each checkbox */
    padding: 0.5rem; /* Padding around each checkbox for better click area */
    text-align: left; /* Align labels to the left */
    position: relative;
    
        /* For positioning the custom checkbox */
}
form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    margin-top: auto;

}
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: 1rem; /* Change cursor to pointer when hovering over the label */
}
span {
    margin: 0 0.5rem 0 0 ;
}
input[type="checkbox"] + span {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 2px solid red; /* Red border */
    transition: background-color 0.3s; /* Smooth transition for fill color */
}
input[type="checkbox"]:checked + span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 3px; /* Red fill color */

}

}

@media (min-width: 768px) {
    .container {
    width: 100vw;
    transform: translate(100%, 0px);
    }
    .filtercontainer {
        width: 35vw;
        overflow-y:hidden;
        .buttons {
            width: 35vw;
        }
    }
    }


