.container {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #00F135;
    position: fixed;
    top: 60px;
    bottom: 0;
    z-index: 800;
    transform: translate(100%, 0px);

    span {
        color: red;
        text-align: end;
        margin: 1rem;
    }
    



}
.open_filter {
    cursor: pointer;
    display: block;
    align-self: flex-end;
    color: red;
    margin: 1rem ;
}

.op_overlay {
    position: fixed;
    background-color: #00F135;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    z-index: 20;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.visible_overlay {
    opacity: 0.2;
    pointer-events: all;
}

.filtercontainer{

    background-color: #00F135;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    padding-bottom: 6rem;
    .buttons {
        width: 100vw;
    
        display: flex;
        
        justify-content: center;
        gap: 0.5rem;
        height: 2.5rem;
        bottom: 4.25rem;
        padding: 0 0.5rem;
        position: absolute;
        .clear {
            flex: 1;
            flex: 1;
            padding: 5px 15px;
            border: none;
            background-color: #00F135;
            border: 2px solid red;
            color: red;
            cursor: pointer;
            border-radius: 4px;
        }
        .apply {
            flex: 1;
            padding: 5px 15px;
            border: none;
            background-color: red;
            color: #00F135;
            cursor: pointer;
            border-radius: 4px;
    }
    }

}

.options_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    margin: 2rem 1rem 1rem 1rem;
    height: 100dvh;




    .MyCollapsible {
        margin: 10px 0;
      }
      
      .MyCollapsible__trigger {
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        background-color: #f0f0f0;
      }
      
      .MyCollapsible__trigger.is-open {
        color: green;
      }
      
      .MyCollapsible__trigger.is-closed {
        color: red;
      }
      
      .MyCollapsible__contentOuter {
        overflow: hidden;
        transition: max-height 300ms ease-in-out;
      }
      
      .MyCollapsible__contentInner {
        padding: 10px;
        background-color: #fff;
      }



 h2 {
    margin-bottom: 1rem;
     /* Space below the headings */
}



label {
    display: block;
    margin-bottom: 0.5rem; /* Space between each checkbox */
    padding: 0.5rem; /* Padding around each checkbox for better click area */
    text-align: left; /* Align labels to the left */
    position: relative;
    
        /* For positioning the custom checkbox */
}
form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    margin-top: auto;

}
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: 1rem; /* Change cursor to pointer when hovering over the label */
}
span {
    margin: 0 0.5rem 0 0 ;
}
input[type="checkbox"] + span {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 2px solid red; /* Red border */
    transition: background-color 0.3s; /* Smooth transition for fill color */
}
input[type="checkbox"]:checked + span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 3px; /* Red fill color */

}

}
.category_list {
    display: none;
}

@media (min-width: 768px) {
    .container {
        right: 0;
    width: 50vw;
    transform: translate(100%, 0px);
    }
    .filtercontainer {
        width: 50vw;
        overflow-y:hidden;
        .buttons {
            width: 50vw;
        }
    }
    }
@media (min-width: 1024px) {
    .container {
        right: 0;
    width: 34vw;
    transform: translate(100%, 0px);
    }
    .filtercontainer {
        width: 34vw;
        overflow-y:hidden;
        .buttons {
            width: 34vw;
        }
    }
    .category_filter {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 10;
        background-color: white;
        width: 100vw;
      }     
      
      .open_filter {
        margin-left: auto;
        cursor: pointer;
      }

    .category_list {
        display: flex;
        gap: 3rem;
        font-size: 1.5rem;
        list-style: none;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        li {
            cursor: pointer;
        }
    }


    .filter_options:nth-of-type(1) {
        display: none;
      }
      .filter_options:nth-of-type(3) {
        display: none;
      }

    }


