.main_container {
    width: 100%;

}

.background {

        background-color: white;
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0; /* Ensures it sticks to the top */
        z-index: 10;
      
}
.back_to_shop {
    text-decoration: none;
    color: red;
    h2 {
        margin: 1rem 1rem 1rem 1rem;
    }
}
.back_button {
    margin-top: 60px;
    text-align: end;
    text-decoration: none;
    border: none;
    background: none;
    padding: 1rem;
}

.container_1 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
     > * {
        border-bottom: 2px solid rgba($color: #00F135, $alpha: 0.2);
        padding-bottom: 1rem;
    }
    .container_1_2 {
        align-items: center;
    }

    .product_detail {
        white-space: pre-wrap; /* Preserves whitespace and line breaks */
        word-wrap: break-word; /* Allows long words to break and wrap to the next line */
        text-align: left; /* Align text to the left */
        margin-top: 10px;
    }


   
    .container_1_2 {
        margin: 1rem 1rem 0 1rem;

    }


}

.container_3 {
    margin: 1rem;

    
}
.container_2 {
    display: flex;
    width: 100dvw;
    justify-content: center;
    gap: 0.5rem;
    height: 4rem;
    bottom: 0;
    position: -webkit-sticky;
    position: sticky;
    padding: 0.5rem 0.5rem;
    background-color: white;
    position: sticky;
    .container_2_1 {
        flex: 1;
        padding: 10px 15px;
        border: none;
        background-color: #00F135;
        color: red;
        cursor: pointer;
        border-radius: 4px;



    }
    .container_2_2 {
        flex: 1;
        padding: 10px 15px;
        border: none;
        background-color: red;
        color: #00F135;
        cursor: pointer;
        border-radius: 4px;


    }
}


.message {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #00F135;
    padding: 10px;
    width: 250px;
    color: red;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 9;
  }

  .main_container {
    padding-top: 60px;
  }


