.product {
    display: flex;
    justify-content: center;
}
.shop_link {
    text-decoration: none;
    color: red;
}
.main_container {
    padding-top: 60px;
}

.background {

        background-color: #00F135;
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0; /* Ensures it sticks to the top */
        z-index: 10;
      
}


.product {
    width: 100%;
    max-width: 1400px;
    flex-flow: wrap;

}
.back_to_shop {

    padding: 1rem 0 0 0;
    
    h3 {

        padding-top: 70px;
        padding-left: 1rem;
    }
}
.back_button {
    margin-top: 60px;
    text-align: end;
    text-decoration: none;
    border: none;
    background: none;
    padding: 1rem;
}

.container_1 {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    flex-direction: column;

    .container_1_2  {
        align-items: center;
    }

    .product_detail {
        white-space: pre-wrap; 
        word-wrap: break-word; 
        text-align: left; 
        margin-top: 10px;
    }


   
    .container_1_2 {
        margin: 1rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        color: red;

    }


}


.container_3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 1rem;
    color: red;

    
}
.container_2 {
    display: flex;

    justify-content: center;
    gap: 0.5rem;
    height: 4rem;
    bottom: 0;
    position: -webkit-sticky;
    position: sticky;
    padding: 0.5rem 0.5rem;
    .container_2_1 {
        flex: 1;
        padding: 10px 15px;
        border: none;
        background-color: #00F135;
        color: red;
        cursor: pointer;
        border-radius: 4px;
        transition: linear 250ms;
        position: relative;
    }
    
    .container_2_2 {
        flex: 1;
        padding: 10px 15px;
        border: none;
        background-color: red;
        color: #00F135;
        cursor: pointer;
        border-radius: 4px;


    }
}


@keyframes moveDownUp {
    0% {
      top: -10px;
    }
    15% {
      top: 60px;
    }
    85% {
      top: 60px;
    }
    100% {
      top: -10px;
    }
  }
  
  .message {
    text-align: center;
    position: fixed;
    left: 0;
    top: -10px;
    background-color: red;
    padding: 10px;
    width: 100vw;
    color: #00F135;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9;
    animation: moveDownUp 3s ease-in-out;
  }

  .product_price {
    font-weight: bold;
}
.product_color {
    padding: 0.5rem;
    text-align: center;

}
.product_size {
    border-radius: 5px;
    border: 1px solid red;
    text-align: center;
    padding: 0.5rem 1rem;
}

.container_3 {
    padding-top: 1rem;
    border-top: 1px solid red;
}
  
.animated_button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    font-size: 16px;
    border: none;
    font-weight: 600;
    background-color: white;
    color: red;
    cursor: pointer;
    overflow: hidden;
  }
  
  .animated_button svg {
    position: absolute;
    width: 34px;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);

  }
  
  .animated_button .arr_1 {
    left: 14px;
    width: 34px;
  }
  
  .animated_button .arr_2 {
    right: -25%;
    width: 34px;
  }
  .text {
    padding-top: 3px;
  }
  
  .animated_button .text {
    position: relative;
    z-index: 1;
    transform: translateX(12px);

  }
  




  @media (min-width: 768px) {


  }

  @media (min-width: 1025px) {
    .main_container {
        display: flex;
        justify-content: center;
    }
    .product {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 1rem 0 1rem 0;
        .container_1_1 {
            flex: 1;
        }
        .product_description {
            flex: 1;
            position: relative;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            

            width: 50vw;

            .container_2 {
                width: 100%;
                bottom: 0;
                align-self: flex-end;
                justify-self: flex-end;
            }
        }
    }
    .info_container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .container_1 {
        padding: 6rem 3rem 3rem 3rem;
        gap: 2rem;
    }
    .container_1_2 {
        gap: 2rem;
    }
    .container_3 {
        gap: 2rem;
    }
    .container_3 > * {
        .product_detail {
            margin: 1rem;
        }
    }
    .product {
        min-height: 90vh;
    }
    .container_1_1 {
      width: 100%;
      height: 100dvh; 
      display: flex;
      justify-content: center;/* Ensure consistent height */
    }
    .swiper-pagination {
      bottom: 10px !important; /* Adjust position */
      text-align: center;
      color: #ff0000;
      background-color: #00F135;
      fill: #ff0000; /* Center align */
    }
    
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: red; /* Default color */
      opacity: 0.6;
      margin: 0 4px; /* Space between bullets */
      border-radius: 50%; /* Make bullets circular */
      transition: opacity 0.3s, background-color 0.3s;
    }
    
    .swiper-pagination-bullet-active {
      background-color: #ff0000; /* Active bullet color */
      opacity: 1;
    }
    
    .swiper_slide {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh; /* Ensure slide takes full container height */
    }
    .slide_container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .animated_button {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 16px 36px;
        font-size: 16px;
        border: none;
        font-weight: 600;
        background-color: white;
        color: red;
        cursor: pointer;
        overflow: hidden;
      }
      
      .animated_button svg {
        position: absolute;
        width: 34px;
        z-index: 9;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);

      }
      
      .animated_button .arr_1 {
        left: 14px;
        width: 34px;
      }
      
      .animated_button .arr_2 {
        right: -25%;
        width: 34px;
      }
      .text {
        padding-top: 3px;
      }
      
      .animated_button .text {
        position: relative;
        z-index: 1;
        transform: translateX(12px);
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
      }
      
      .animated_button:hover .arr_1 {
        left: -25%;
      }
      
      .animated_button:hover .arr_2 {
        right: 16px;
      }
      
      .animated_button:hover .text {
        transform: translateX(-12px);
      }
      


    
  }
