.container_1 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

/*
primary="red"
secondary="#00F135"
*/
.background {
  background-color: #00F135;
  width: 100%;
  height: 60px;
  position: fixed;
  overflow-x: hidden;
  top: 0;
  z-index: 10;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.filter_button {
  margin: 2rem;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: transparent;
  display: flex;
  color: red;
  width: fit-content;
  align-self: end;
  position: relative;
  .button_text_overlay {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    transition: clip-path 0.15s ease-in-out;
    color: #00F135;
    
  }
}
.filter_button:hover .button_text_overlay {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.container_1_2 {
  position: relative;
  

  .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
  }

  .filter_container {
    height: 100vh;
    width: 100vw;
    position: fixed;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%; /* Ensure it takes full width without overflow */
    padding: 1rem 1rem 4rem 1rem;
    box-sizing: border-box;
    
  }


}
@media (min-width: 768px) {
  .container_1_2 {
  .card {
    grid-template-columns: repeat(3, 1fr);
  }
}
}

@media (min-width: 1024px) {
  .container_1_2 {
    .card_container {
      display: flex;
      justify-content: center;
      .card {
        max-width: 1400px;
        grid-template-columns: repeat(4, 1fr);
        padding: 4rem 20px;
      }

    }

  }

}

.product_link {
  text-decoration: none;
  display: inline-block; // Ensures the link itself does not force full-width
  width: 100%; 
}
