.main_container{
    height: 100vh;
    width: 100dvw;
    background-color: white;
    position: fixed;
    .title {
        margin: 1rem 0;
    }

}

.container_1 {
    padding: 60px 1rem 1rem 1rem;
    margin-bottom: 6rem;
    height: 100vh;
    width: 100dvw;

    
    

    position: relative;
    .list{
        overflow-y: scroll;
        height: 70dvh;
    }
    

    .container_1_1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2rem;
        .container_1_1_2 {
            justify-self: start;
            flex: 1;
        }
    }
    .checkout{
        padding: 10px 15px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        border-radius: 4px;
        
        width: 90%;
        position: absolute;
        left: auto;
        right: auto;
        bottom: 10px;

    }
    .remove {
        padding: 5px 10px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        border-radius: 4px;
        
    }

}
// shopping_bag.module.scss
.shopping_bag_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }


  

@media (min-width: 1025px) {
    .main_container {
        width: 65vh;
    }
    .container_1 {
        width: 65vh;
    }
}
