

.main {
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
position: relative;
}

.splash {
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding-right: 50%;
    z-index: 20;
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: yellow;
        
    }
}
.video {
    width: 200%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    object-fit: cover; /* Adjust as needed */
  }

  .container_1 {

.container_1_1 {
    display: flex;
    flex-direction: column;
    margin: 3rem 1rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
    h1 {
        text-align: center;
    }
    p {
      margin: 0 2rem;
      color: blue;
      max-width: 350px;
    }
}
}
.image {
  min-width: 200px;
  min-height: 200px;
  max-height: 350px;
  max-width: 350px;
}
.container_1 {
  width: 100%;
}

.container_1_2 {
  background-color: yellow;
  h2 {
    padding: 1rem;
    text-align: center;
    color: blue;

  }
}

.scrolling_wrapper {
  h2 {
    text-align: center;
    margin: 1rem;
  }
  .card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    h3 {
      background-color: blue;
      color: yellow;
      text-align: center;
    }



    padding: 0 2rem 2rem 2rem;
    overflow-x: scroll;
  
  }  
}



.card2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    gap: 1rem;
    background-color: yellow;
    padding: 2rem 0;

}
.container_1_4 {
    padding: 2rem;
    h1 {
        text-align: center;
        
    }
}
.background {
    background-color: blue;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;
  }
  .container_1_1_1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

.container_1_5 {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    padding: 1rem 1rem;
    gap: 1rem;

  }
  
  .flexContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .photo1 {
    width: 100%;
  }
  .container_span{
    span {
      display: block;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      text-align: center;
      color: blue;
      
    }
    .span {
      display: flex;
      flex-direction: column;
    }
  }

  .last_span :last-child {
    color: yellow;
  }

  @media (min-width: 768px) {
    .container_1 {

    .container_1_1 {
      margin: 3rem 3rem;
      flex-direction: row;
      p {
        margin-top: 1.5rem;
      }
    }
  }
    .container_1_4{
      display: flex;
      justify-content: center;
    }
    .container_span{
 

      .span, .last_span {
        display: flex;
        flex-direction: row !important;
        :first-child {
          margin-right: 1rem;
        }
      }
    }


  }

  @media (min-width: 1024px) {
    .container_1 {
      max-width: 1400px;
    .container_1_1 {
      gap: 0;
      
      margin: 3rem 5rem;
      .container_span {
        flex: 1;
      }
      p {
        font-size: 1rem;
        flex: 1;
        align-self: center;
        line-height: 1.4rem;
        margin-top: 0;
        max-width: 500px;
      }
    
    }
  }
    .container_1_4{
      display: flex;
      justify-content: center;
    }
    .container_span{
 

      .span, .last_span {
        display: flex;
        flex-direction: row !important;
        :first-child {
          margin-right: 1rem;
        }
      }
    }

    .card {
      justify-content: center;
    }
    .hide1 {
      display: block;
    }
    .hide2 {
      display: block;
    }

  }



  @media (max-width: 767px){
    .hide1 {
      display: none;
    }
    .hide2 {
      display: none;
    }
  }

  @media (max-width: 1023px){
    .hide2 {
      display: none;
    }
  }

